<div class="container">
    <div class="row">

        <div class="col-3">
            <h3>Inspecciones</h3>
                <ul>
                    <li><a [routerLink]="['/registro']">Registro</a></li>
                    <li><a>Reporte</a></li>
                    <li><a>Salir</a></li>
                </ul>                                                            
        </div>
    
        <div class="col-9">
            <h3>Registro de Inspeción</h3>            
        </div>    
    </div>    
</div>